* {
    margin: 0;
    padding: 0;
}

/* header */
.header-black {
    background-color: black;
    width: 100%;
    height: 40px;
    display: flex;
}

.enveloppe {
    width: 33px;
    height: 33px;
    
}

.mail-link {
    margin: 0 2%;
}

.logo {
    margin: 0 2%;
}
.header-black-contact {
    color: #7CF4E7;
}

.header-nav {
    background-image: url('../images/image.png');
    width: 100%;
    height: 210px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2%;
} 

.collapse ul li a {
    font-size: 25px;
}

.logo-background {
    background-color: black;
    width: 24.4%;
    height: 30%;
    margin-left: 2%;
    border-radius: 0 165px 165px 0;
}

.navbar {
    justify-content: center;
}

ul li a {
    font-size: 25px;
} 

.invisible {
    font-size: 5px;
}

.imag-invisible {
    visibility: hidden;
}

/* end-header */

/* formulaire-contact */
.contact {
    background-color: rgba(217, 217, 217, 0.53);
    border-radius: 10px;
    width: 350px;
    height: 230px;
}

.champ-formulaire {
    justify-content: space-between;
}

.form-control {
    width: 789px;
    background-color:  rgba(217, 217, 217, 0.53);
}

.contact p {
    font-size: 20px;
}

.color-line {
    background-color: #0D2058;
    height: 50px;
    margin-top: 3%;
}

@media all and (max-width: 1024px) {
    .form-control {
        width: 500px;
    }
}

@media all and (max-width: 768px) {
    
    .champ-formulaire{
        flex-wrap: wrap;
    }
    .collapse{
        background-color: #1113F9;
    }
    .form-control {
        width: 300px;
    }
    .formulaire-contact {
        margin-top: 6%;
    }
    .contact p {
        font-size: 15px;
    }

    .contact {
        width: 300px;
    }
}

@media all and (max-width: 425px) {
    .champ-formulaire {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* end-formulaire-contact */

/* header */
.header-black {
    background-color: black;
    width: 100%;
    height: 40px;
    display: flex;
}

.enveloppe {
    width: 33px;
    height: 33px;
    
}

.mail-link {
    margin: 0 2%;
}

.logo {
    margin: 0 2%;
}
.header-black-contact {
    color: #7CF4E7;
}

.header-nav {
    background-image: url('../images/image.png');
    width: 100%;
    height: 210px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2%;
} 

.block-image-accueil {
    display: none;
}

.text {
    display: none;
}

.logo-background {
    background-color: black;
    width: 24.4%;
    height: 30%;
    margin-left: 2%;
    border-radius: 0 165px 165px 0;
}

.navbar {
    justify-content: center;
}

ul li a {
    font-size: 25px;
} 

.invisible {
    font-size: 5px;
}

.imag-invisible {
    visibility: hidden;
}

/* end-header */
/* footer */
.black-line {
    background-color: black;
    border-radius: 20px;
    height: 10px;
}
.black {
    visibility: hidden;
}

.card {
    background-color: rgba(11, 117, 224, 0.4);
    height: 823px;
}

.newslet {
    background-image: url("../images/newsletter.png");
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
}

.newsletter-text {
    background-color: rgba(78, 194, 111, 0.71);
    height: 450px;
}

.undreline {
    border-bottom: 2px solid white;
}

.inputmail-buttont {
    width: 590px;
    margin: 30px;
    border-radius: 20px;
    height: 50px;
    background-color: #F2EAEA;
}

.newslet ::placeholder{
    text-align: center;
} 

.inputmail-buttone {
    width: 590px;
    margin: 30px;
    border-radius: 20px;
    background-color: #1113F9;
    border: none;
    height: 50px;
}
.checkbox {
    margin: 0 30px;
}

.go-in-line {
    visibility: hidden;
}
.copyrigth {
    background-color: #4EC26F;
}

@media all and (max-width: 1440px) {
   

    .inputmail-buttone {
        width: 390px;
    }

    .inputmail-buttont {
        width: 390px;
        margin: 18px;
    }
}

@media all and (max-width: 1024px) {
    .newslet input {
        width: 290px;
    }

    .inputmail-buttone {
        width: 290px;
        margin: 18px;
    }
}

@media all and (max-width: 768px) {
    
    .block-image-accueil {
        display: none;
    }

    .text {
        display: none;
    }
    .knowledgetchnology {
        flex-wrap: wrap;
    }
    iframe {
        width: 1000px;
    }
    .google-map-newsletter {
        flex-wrap: wrap;
    }
    
    .row p {
        font-size: 8px;
    }
   
    .newslet input, .inputmail-buttone{
        width: 200px;
        margin: 20px 0;
    }

}

@media all and (max-width: 425px) {
   
    .go-in-line {
        visibility: collapse;
    }
    .newslet input, .inputmail-buttone {
       
        margin: 20px 90px;
    }
}

@media all and (max-width: 320px) {
    .computer {
        width: 304px;
    }

    .newslet input, .inputmail-buttone{
       
        margin: 20px 52px;
    }
}
/* end-footer */
